* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;font-family: "Google Sans", Arial, sans-serif;
  border-collapse: collapse;
}
.bg-black {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
}
.whole {
  display: flex;
  overflow: hidden;
}
.index {
  flex: 1;
  overflow: hidden;
  position: relative;
}
main {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 4rem);
}

/* .hide-sidebar {
  width: 0px!important;
} */